#endBoard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 100;
    color: rgba(245, 217, 217, 0.719);
    text-align: center;
    padding: 2rem;
}

#endBoard h1 {
    margin-top: 4rem;
}

#endBoard h2 {
    font-size: 4rem;
    margin: -1rem 0 1rem 0;
}

#endBoard .play-button {
    text-decoration: none;
    position: absolute;
    bottom: 18%;
    left: 48%;
    transform: translateX(-50%);
    cursor: pointer;
}

#endBoard .play-button>p {
    margin: -5.2rem 0 0 13rem;
}